body{
margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f5f5f5;
    
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

body.body-inicio {
overflow-x: hidden;
    width: 100%;
    margin: 0;
    padding: 0;
}

* {
box-sizing: border-box;
}

header{
background-color: black;
padding: 25px;
text-align: center;
}

header h1{
color: gold;
font-size: 50px;
margin: 0;
}

nav{
margin-top: 20px;
}

nav a{
color: white;
text-decoration: none;
margin: 15px;
font-size: 18px;
transition: 0.3s;
}

nav a:hover{
color: gold;
}


.principal{
min-height: 90vh; 
padding: 40px 20px; 
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;

background: url('/static/img/fondo.png') center/cover no-repeat;
position: relative;
color: white;
}

.principal h2{
font-size: 48px;
color: white;
text-shadow: 2px 2px 10px rgba(0,0,0,0.8);
}


.principal p{
font-size: 20px;
color: #f1f1f1;
text-shadow: 1px 1px 8px rgba(0,0,0,0.7);
}

.titulo-servicios{
text-align: center;
margin-top: 40px;
font-size: 35px;
}

.servicios{
display: flex;
justify-content: center;
align-items: stretch;
gap: 30px;
flex-wrap: wrap;
padding: 40px;
}

.tarjeta{
background: white;
width: 250px;
padding: 25px;
border-radius: 15px;
text-align: center;
box-shadow: 0px 5px 15px rgba(0,0,0,0.2);
transition: 0.3s;
}

.tarjeta:hover{
transform: scale(1.05);
}

.tarjeta img{
width: 100%;
height: 180px;
object-fit: cover;
border-radius: 10px;
margin-bottom: 15px;
}

.tarjeta h3{
color: black;
}

.tarjeta p{
color: gray;
}

.tarjeta .btn-reserva{
background-color: gold;
color: black;
border: none;
padding: 10px 20px;
border-radius: 8px;
cursor: pointer;
font-weight: bold;
margin-top: 10px;
transition: 0.3s;
text-decoration: none;
display: inline-block;
}

.tarjeta .btn-reserva:hover{
background-color: #e6c200;
transform: scale(1.05);
}

footer{
background: black;
    color: white;
    text-align: center;
    padding: 20px;
    width: 100%;
    
    margin-top: auto;
}

footer p {
    margin: 0; 
}

.principal::before{
content: "";
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: rgba(0,0,0,0.4);
}

.principal *{
position: relative;
z-index: 1;
}

body.body-inicio .principal h2,
body.body-inicio .principal p {
    margin-bottom: 0; 
}

body.body-inicio footer {
    margin-top: 0 !important;
}

.sobre-nosotros {
    padding: 60px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;     
    text-align: center;       
    max-width: 1000px;        
    margin: 0 auto;           
}

.sobre-nosotros h2 {
    font-size: 40px;
    color: black;
    margin-bottom: 25px;
    width: 100%;             
}

.sobre-nosotros p {
    font-size: 18px;
    color: #444;
    line-height: 1.6;
    margin-bottom: 20px;
    max-width: 800px;        


.imagen-nosotros {
    max-width: 100%;
    height: auto;
    width: 900px;            
    border-radius: 10px;
    margin-top: 25px;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.1);
}
