<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reserva tu Cita - Genesis</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<header>
    <h1>Genesis</h1>

    <nav>
        <a href="/">Inicio</a>
        <a href="servicios">Servicios</a>
        <a href="/nosotros">Nosotros</a>
        <a href="/contacto">Contacto</a>
    </nav>
</header>

<section>
    <center> 
    <h2>Reserva tu Cita</h2>

    <p>📞 Teléfono: 922-079-565</p>

    <p>📧 Correo: contacto@genesis.com</p>

    <p>🕒 Horario: Lunes a Sábado de 9:00 AM a 8:00 PM</p>

    <h3>Envíanos un mensaje</h3>

    <form>
        <input type="text" placeholder="Tu nombre"><br>

        <input type="email" placeholder="Tu correo"><br>

        <textarea placeholder="Escribe tu mensaje"></textarea><br>

        <input type="date" name="fecha"><br>

        <button type="submit">Enviar</button>
    </form>
  </center>
</section>

<footer>
    <p>Genesis Peluquería - 2026</p>
</footer>

</body>
</html>
</html>