<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Genesis Peluquería</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="body-inicio"> <header>
    <h1>Genesis</h1>
    <nav>
        <a href="/">Inicio</a>
        <a href="/servicios">Servicios</a> 
        <a href="/nosotros">Nosotros</a>
        <a href="/contacto">Contacto</a>
        <a href="/registro">Registro</a>
    </nav>
</header>

<section id="inicio" class="principal">
    <h2>Bienvenido a Genesis</h2>
    <p><a href="/servicios"> Tu estilo comienza aquí. </a></p>
</section>

<footer>
    <p>Genesis Peluquería - 2026</p>
</footer>

</body>
</html>
</html>