<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nosotros - Genesis</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<header>
    <h1>Genesis</h1>

    <nav>
        <a href="/">Inicio</a>
    <a href="servicios">Servicios</a>
    <a href="/nosotros">Nosotros</a>
    <a href="/contacto">Contacto</a>
    </nav>
</header>

<section class="principal">
    <h2>Sobre Nosotros</h2>

    <p>
        En Genesis Peluquería nos dedicamos a brindar servicios
        de calidad para resaltar el estilo y la confianza de
        nuestros clientes.
    </p>

    <p>
        Nuestro equipo está capacitado en cortes modernos,
        tinturados y peinados para toda ocasión.
    </p>

    <p>
        Nuestro objetivo es ofrecer una experiencia cómoda,
        profesional y personalizada para cada persona que nos visita.
    </p>

    <img src="/static/img/nosotros.png" alt="Genesis Peluquería" width ="800">

</section>

<footer>
    <p>Genesis Peluquería - 2026</p>
</footer>

</body>
</html>